body {
	font-size: 10px;
	color: #666;
	font-family: 'Source Sans Pro', sans-serif;
}

.header {
	text-align: center;
	margin: 5% 0; 
}

.header h1 {
	font-size: 880%;
	color: #3385FF;
	display: inline;
}

.header h4 {
	font-size: 380%;
	display: inline;
}

p {
	font-size: 160%;
	line-height: 1.8;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul li {
	background: url(../img/brackets.png) -30px -35px no-repeat;
}

ul li h5 {
	margin-left: 80px;
	color: #3385FF;
	font-weight: 400;
	font-size: 200%;
}

ul li p {
	margin-left: 80px;
	font-size: 140%;
}

h1 {
	color: #3385FF;
}

pre {
  display: block;
  padding: 5px;
  margin: 0;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: transparent;
  border: 1px solid #eee;
  border-radius: 0;
  width: 100%;
	text-align: left;
}

pre code {
	text-align: left;
}

.footer {
	border-top: 1px solid #eee;
	margin: 3% 0;
	padding-top: 1%;
	text-align: center;
	font-size: 140%;
}
