<!DOCTYPE html>
<html>
<head>
	<title>Loading...</title>
	<link rel="stylesheet" href="stylesheets/jsm.css">
	<script src="vendor/loader.js"></script>
	<script>
	window.onload = function() {
		var loader = new jsm.Loader();
		loader.start(function(loader) {
			var application = new {{mainScript}}({
				canvas : document.getElementById('{{canvasId}}')
			});
			application.start();
		});
	}
	</script>
</head>
<body>
	<div id="canvas">
		<img id="loader" src="{{images}}/loader.gif" class="jsm-loader">
	</div>
	<div id="templates">
		{{templates}}
	</div>
</body>
</html>